body{
    font-family: 'Comic Neue', cursive;
    margin: 0 auto;
}
.logo{
    background-color: #5930A5;
    margin-bottom: 0px;
    text-align: center;
}
h1{
    font-size: 50px;
    font-weight: 900;
}
.name-span{
    color: #41BB08;
}
h3{
    font-size: 30px;
}
p{
    font-size: 18px;
    font-weight: 500;
    line-height: 1.3em;
    text-align: justify;
}
.flexiable-container{
    display: flex;
    margin-bottom: 100px;
}
.half-width{
    width: 50%;
    margin: 0 5%;
}
.half-width img{
    width: 90%;
}
.top-h{
    margin-top: 50px;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.button-link{
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
    background-color: #5930A5;
    /* background-image: linear-gradient(#41BB08, #5930A5); */
    color: white;
    padding: 10px 40px;
    border-radius: 5px;
}
.dream-bg{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.exper-sec{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.exper-sec h1{
    margin-left: 5%;
}
#box-design1{
    box-shadow: 10px 10px 40px grey;
    padding: 25px;
    border-left: 7px solid;
    border-image: linear-gradient(#1b5003, #6dfc2b);
    border-image-slice: 1;
}
#box-design2{
    box-shadow: 10px 10px 40px grey;
    padding: 25px;
    border-left: 7px solid;
    border-image: linear-gradient(#3c089b, #9c6bf7);
    border-image-slice: 1;
}
h2{
    font-size: 40px;
}
h4{
    font-size: 18px;
    color: #41bb08;
}
footer p{
    text-align: center;
}
.one-third{
    width: 25%;
    margin-left: 5%;
}
.one-third img{
    width: 100%;
    border-radius: 50%;
    background-color: blue;
    box-shadow: 10px 20px 40px white
}
.my-dev{
    color: white;
    margin-left: 15%;
}
.degig{
    color: #08f53b;
    margin-left: 25%;
}
.my-work{
    background-color: black;
    padding: 20px;
}
.my-work h1{
    color: white;
    text-align: center;
}